<footer class="site-footer container-fluid center hidden-xs">
  <div class="container">
    +1-877-784-6787 Toll Free ©1999 - 2016 International Insurance Group, Inc.
  </div>
  <div class="container">
    DBA Mexico &amp; RV Insurance Services, CA License Number 0D06599<br>214 East Birch Avenue, Flagstaff, Arizona 86001
  </div>
</footer>
<footer class="site-footer container-fluid center hidden-sm hidden-md hidden-lg">
  <div class="row">
    +1-877-784-6787 Toll Free<br>©1999 - 2016 International Insurance Group, Inc.
  </div>
  <div class="row">
    DBA Mexico &amp; RV Insurance Services<br>CA License Number 0D06599<br>214 East Birch Avenue, Flagstaff, Arizona 86001
  </div>
</footer>