<header class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="col-sm-6 col-xs-8">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <a class="logo" href="/">
        <img src="/images/IIGLogo1.jpg" alt="IIG Logo">
      </a>
    </div>
    <!--</div> end navbar header -->
    <!--<div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li role="presentation" class="{% if page.body_class == 'home' %}active{% endif %}">
          <a href="/">Home</a>
        </li>
        <li role="presentation" class="{% if page.body_class == 'about' %}active{% endif %}">
          <a href="/about/">About Us</a>
        </li>
        <li role="presentation" class="{% if page.body_class == 'contact' %}active{% endif %}">
          <a href="/contact/">Contact</a>
        </li>
        <li role="presentation" class="{% if page.body_class == 'contact' %}active{% endif %} phone" itemscope="" itemtype="http://schema.org/ContactPoint">
          <a class="hidden-sm hidden-md hidden-lg" href="tel:+18777846787" rel="nofollow" title="Call IIG"><span class="glyphicon glyphicon-earphone"></span> <span itemprop="telephone" contacttype="customer support" areaserved="US, CA, MX" contactoption="TollFree" availablelanguage="English, Spanish">877-784-6787</span></a><span class="hidden-xs"><span class="glyphicon glyphicon-earphone"></span> <span itemprop="telephone" contacttype="customer support" areaserved="US, CA, MX" contactoption="TollFree" availablelanguage="English, Spanish">877-784-6787</span></span>
        </li>
      </ul>
    </div>/.navbar-collapse -->
    <div role="presentation" class="{% if page.body_class == 'phone' %}active{% endif %} col-sm-6 col-xs-4 phone" itemscope="" itemtype="http://schema.org/ContactPoint">
      <span class="hidden-xs">Need Help?&nbsp;&nbsp;</span><a class="hidden-sm hidden-md hidden-lg" href="tel:+18777846787" rel="nofollow" title="Call IIG"><span class="glyphicon glyphicon-earphone"></span> <span itemprop="telephone" contacttype="customer support" areaserved="US, CA, MX" contactoption="TollFree" availablelanguage="English, Spanish">877-784-6787</span></a><span class="hidden-xs"><span class="glyphicon glyphicon-earphone"></span> <span itemprop="telephone" contacttype="customer support" areaserved="US, CA, MX" contactoption="TollFree" availablelanguage="English, Spanish">877-784-6787</span></span>
    </div>
  </div> <!-- end container -->
</header>