@charset "utf-8";
//= require vendor/bootstrap
//= require vendor/bootstrap-theme
// Remove the "do_not_" from the following line for font-awesome:
//= do_not_require vendor/font-awesome
//= require_self

// Put styles here!
.center {
	text-align: center;
	margin: 0 auto;
}

.logo img {
	padding: 5px 0;
}
footer {
	background-color: #173b28;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}